/*CSS Reset*/
body,h1,h2,h3,h4,a,img,div,p,video,ol,li,table,caption,thead,tr,td {margin:0px;padding:0px;border:none;}

body{
  background-color: #2e2e2e;
}

.ume-group{
  border: 15px solid white;
  width:640px;
  position:absolute;
  left:50%;
  top:46%;
  margin-left:-320px;
  margin-top:-180px;
}

#video-display{
  width:640px;
  height:360px;
}

#video-controls{
  width:640px;
  height:61px;
  background-color:#000;
}

.ume-ribbon{
  position: absolute;
  z-index: 100;
  right:0px;
  top:0px;
}

.ume-dashed{
  height:4px;
  background-color:white;
  width:100%;
  position:absolute;
  z-index:30;
}