%html
  %head
    %title= "Umeboshi Fireteam"
    %script{ src: '/public/javascripts/jquery.js' }
    %script{ src: '/public/javascripts/app.js' }
    %link{ rel: 'stylesheet', href: '/stylesheets/style.css' }
  %body
    #wrapper
      = body