<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
  device-width : Occupy full width of the screen in its current orientation
  initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
  maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
  -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>

<body>
  <h1>Umeboshi Fireteam FTW</h1>
  <h2>Next Status Update Meetup: 12:00 BRT – Umeboshi HQ</h2>
  <h3>Useful links</h3>
  <ul>
    <li><a href="http://localhost:8082/">Local Web Server (dev)</a></li>
    <li><a href="http://umeboshi-fireteam.no.de/">Joyent Web Server</a></li>
    <li><a href="https://github.com/nko/umeboshi-fireteam">Git Repository</a></li>
    <li><a href="http://nodeknockout.com/teams/umeboshi-fireteam#">Team page on KO</a></li>
    <li><a href=""></a></li>

    <li><b>Other</b></li>
      <ul>
        <ul>
          <li><a href="http://nodejs.org/api.html">Node.js API documentation</a></li>
          <li><a href="http://github.com/LearnBoost/Socket.IO-node">Socket.IO-node git</a></li>
          <li><a href=""></a></li>
      </ul>
  </ul>
</body>
</html>