/*CSS Reset*/
body,h1,h2,h3,h4,a,img,div,p,video,ol,li,table,caption,thead,tr,td {margin:0px;padding:0px;border:none;}

body{
  background-color: #dbdacd;
}

#debug-area{
  display:none;
}
.ume-group{
  border: 15px solid white;
  width:640px;
/*  height:420px;*/
  position:absolute;
  left:50%;
  top:46%;
  margin-left:-320px;
  margin-top:-180px;
}

#video-display{
  width:640px;
  height:360px;
  background-color:#333;
}

#video-controls{
  width:640px;
  height:61px;
  background-color:#000;
  margin-top:-1px;
  position:relative;
}
#video-controls #play-button{
  background:none;
  width:66px;
  height:61px;
  background-image:url('pause.png');
  display:block;
  position: absolute;
  cursor: pointer;
}
#video-controls #play-button #play-image{
/*  display:none;*/
}
#seek-container{
  width:550px;
  height:20px;
  border:1px solid #fff;
  position:absolute;
  top:20px;
  left:65px;
}
#seek-container #seek-bar-inside{
  position:relative;
  border:none;
  height:16px;
  width:546px;
  top:2px;
  left:2px;
}
#loaded-bar {
/*  width:15%;*/
  height:100%;
  position:absolute;
  background-color:#262626;
}
#played-bar {
/*  width:5%;*/
  height:100%;
  position:absolute;
  background-color:#fff;
}
.ume-ribbon{
  position: absolute;
  z-index: 100;
  right:0px;
  top:0px;
}

#ume-ballon{
  background-color:#fff;
  width:280px;
/*  height:360px;*/
  position:absolute;
  right:25px;
  top:10px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  -o-border-radius: 15px 15px 15px 15px;
  border-radius: 15px 15px 15px 15px;
  -moz-box-shadow: 3px 3px 3px #666;
  -webkit-box-shadow: 3px 3px 3px #666;
  box-shadow: 3px 3px 3px #666;
  padding:2em;
  font-family: "Trebuchet MS", sans;
}
#ume-ballon hr{
  border:1px dashed #a19878;
  margin-top:1em;
  margin-bottom:1em;
}
#ume-ballon p{
  color:#a19878;
  font-size:14px;
}
#ume-ballon h2{
  font-size:14px;
  font-weight:bold;
}
#ume-ballon p .requirement{
  color:#ec6a64;
}
#ume-ballon p a{
  color:#e8a141;
  text-decoration:none;
}
#ume-ballon p .module-link{
  color:#a0c0d6;
}