body,h1,h2,h3,h4,a,img,div,p,video,ol,li,table,caption,thead,tr,td,br
{margin:0px;padding:0px;border:none;}

body {
	background-image: url('../../images/bgEscuro.gif');
	background-repeat: repeat;
	
}

#container {
	width: 700px;
	margin: 0 auto;	
	float: none;
}

.slider-container {
	height:500px; 
	width:100px;
	float: left;
}
