

body {
	background-image: url('../../images/bgEscuro.gif');
	background-repeat: repeat;
	margin: 0px;
}

.slider-container {
	height:787px; 
	width:186px;
	float: left;
	display: block;
}
.slider {
	height:690px; 
	width:186px;
    text-align:center;
	background-image: url('../../images/slider_base_690.png');
	clear:both;
	float: left;
	display: block;
}
.slider-footer {
	width:97px;
	height:97px;
	text-align: center;
	clear:both;
	float: none;
	margin: 0px auto;
	display: block;
}