<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag 
  device-width : Occupy full width of the screen in its current orientation
  initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
  maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
  -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <script type="text/javascript" src="http://localhost:8000/faye.js"></script>
  <script type="text/javascript">
      var client = new Faye.Client('http://localhost:8000/faye', {
          timeout: 120
      });
      
      function pub() {
        client.publish('/messages', {
          text: 'Hello world'
        });
      }
      
  </script>
</head>

<body>
  <h1>Umeboshi Fireteam FTW</h1>
  <a href="javascript:pub()">Publish</a>
</body>
</html>